<html>
<div id="lifePage">
    <link rel="stylesheet" type="text/css" href="/style/lifeDirective.css"></link>
    <div ng-init="tab = 1" class="navigation">
        <div class="selectedLifeTab" id="hobbiesTab" ng-click="setActive('hobbiesTab'); tab = 1">Hobbies</div>
        <div class="lifeTab" id="codingTab" ng-click="setActive('codingTab'); tab = 2">Coding</div>
        <!-- <div class="lifeTab" id="hodorTab" ng-click="setActive('hodorTab'); tab = 3">Hodor Generator</div> -->
    </div>
    <div id="hobbies" class="option" ng-show="tab===1">
        <div ng-init="currentTab = 1" class="hobbyNav">
            <div style="width: 100%">
                <h5 style="float: left;" ng-click="currentTab = setTab(false, currentTab)"><img class="lifeTabNav" src="images/left-arrow.png"/></h5>


                <h2 style="display:inline">{{hobby(currentTab).name}}</h2>


                <h5 style="float: right;" ng-click="currentTab = setTab(true, currentTab)"><img class="lifeTabNav" src="images/right-arrow.png"/></h5>
            </div>
            <hr size=2>
            <div ng-bind-html="hobby(currentTab).description"></div>
        </div>
    </div>
    <div id="coding" class="option" ng-show="tab===2">
        <div ng-repeat="language in languages">{{::language}}</div>
        <span ng-click="tab=3"><img class="bugButton" src="http://www.clker.com/cliparts/z/4/4/i/C/d/black-circle-hi.png"></span>
    </div>
    <div id="bugExcuse" class="option" ng-show="tab===3">
        <span style="font-family: 'Lobster', cursive;">Current bug excuse:</span>
        <br>
        <small style="margin-left: 1em; font-family: 'Monda', sans-serif;">{{::bugExcuse}}</small>
        <br>
        <span ng-click="tab=2"><img class="bugButton" src="http://www.clker.com/cliparts/z/4/4/i/C/d/black-circle-hi.png"></span>
    </div>
    <!-- <div id="hodor" class="option" ng-show="tab===3">
        <input ng-model="hodorInput" placeholder="Hodor, hodor" ng-trim="false" />
        <br><span style="word-wrap: break-word;" ng-bind-html="output | unsafe"></span>
        <br>
        <br>
    </div> -->
</div>
</div>

</html>